<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}
        {%endblock%}
    </title>
    <link rel="stylesheet" href="../static/shipping.css">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/evenorodd">Even or Odd</a>
            </li>
    
            <li>
                <a href="/eligibility">Eligibility</a>
            </li>
    
            <li>
                <a href="/lower">Lower</a>
            </li>
    
            <li>
                <a href="/reverse">Reverse</a>
            </li>
    
            <li>
                <a href="/shipping">Shipping</a>
            </li>
    
            <li>
                <a href="/sign">Astrological Sign</a>
            </li>
    
            <li>
                <a href="/upper">Upper</a>
            </li>
    
            <li>
                <a href="/vorc">Vowel or Consonant</a>
            </li>

            <li>
                <a href="/calculator">Calculator</a>
            </li>

            <li>
                <a href="/bmi">BMI</a>
            </li>
        </ul>
    </nav>
    {%block content%}
    {%endblock%}
</body>

</html>