{%extends "layout.html"%}
{%block title%}
Registration
{%endblock%}
{%block content%}

<style>
    body {
        background-color:brown;
        font-family: serif;
        color:white;
        margin: 10%;
        margin-left: 35%;
    }

    form {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        background-color: tomato;
        gap: 1rem;
        padding: 10px;
    }

    .button {
        grid-column: 1/3;
    }

    .button button{
        width: 100%;

    }

    .gender {
        grid-column: 1/3;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


</style>

    <form action="/registration" method="POST">

        <div class="field">
            <div class="label">
                <label for="">Name</label>
            </div>
            <div class="input">
                <input type="text" name="name" id="">
            </div>
        </div>

        <div class="field">
            <div class="label">
                <label for="">Email</label>
            </div>
            <div class="input">
                <input type="email" name="email" id="">
            </div>
        </div>

        <div class="field">
            <div class="label">
                <label for="">Password</label>
            </div>
            <div class="input">
                <input type="password" name="password" id="">
            </div>
        </div>

        <div class="field">
            <div class="label">
                <label for="">Confirm Password</label>
            </div>
            <div class="input">
                <input type="password" name="confirmpassword" id="">
            </div>
        </div>

        <div class="field">
            <div class="label">
                <label for="">Phone Number</label>
            </div>
            <div class="input">
                <input type="tel" name="phonenumber" id="">
            </div>
        </div>

        <div class="field gender">
            <div class="label">
                <label for="">Gender</label>
            </div>
            <div class="input">
                <span>Male:</span><input type="radio" name="gender" id="">
            </div>
            <div class="input">
                <span>Female:</span><input type="radio" name="gender" id="">
            </div>
            <div class="input">
                <span>Other:</span><input type="radio" name="gender" id="">
            </div>
        </div>

        <div class="field">
            <div class="label">
                <label for="">Zip Code</label>
            </div>
            <div class="input">
                <input type="number" name="zipcode" id="">
            </div>
        </div>

        <div class="button">
            <button type="submit">Register</button>
        </div>
    </form>
    <p><a href="/login">Existing user? Click here</a></p>
    {{message}}
{%endblock%}